:root {
  --inline-gap: 4px;
}

body {
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
}

.nav__list a {
  text-decoration: none;
  text-transform: uppercase;
  color: #626262;
  line-height: 24px;
}

.container {
  width: 900px;
  margin: 0 auto;
}

/* START HEADER */

.header {
  text-align: center;
}

.nav {
  padding: 70px 0 97px;
}

.nav__list > li {
  display: inline-block;
}

.nav__item {
  margin-right: 100px;
}

.nav__item:last-child {
  margin-right: 0px;
}

.nav__link:hover {
  color: #03a9f4;
}

/* END HEADER */
.article {
  width: 420px;
  display: inline-block;
  margin-bottom: 132px;
}

.article:nth-last-child(-n+2) {
  margin-bottom: 0;
}


.article:nth-child(odd) {
  margin-right: calc(60px - var(--inline-gap));
}

.article__subtitle {
  font: 300 14px/17px "Ubuntu", sans-serif;
  text-transform: uppercase;
  margin: 22px 0 19px;
  color: #b4ad9e;
}

.article__title {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 29px;
}

.btn {
  display: block;
  margin: 54px auto 70px;
  padding: 17px 32px;
  text-align: center;
  border: 1px solid #626262;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  background-color: transparent;
  font-size: 20px;
  line-height: 24px;
  color: #626262;
  cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
