body {
  font-family: 'Playfair Display', serif;
  font-weight: regular;
  color: #626262;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #626262;
}

.header {
  text-align: center;
}

.nav {
  margin: 77px 0 104px;
  
}

.nav__list > li {
  display: inline-block;
}

.nav__item {
  margin-right: 100px;
}
.nav__link:hover {
  color: #03a9f4;
}

.nav__item:last-child {
  margin-right: 0px;
}


