body {
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
}

.nav__list a {
  text-decoration: none;
  text-transform: uppercase;
  color: #626262;
  line-height: 24px;
}

.container {
  width: 900px;
  margin: 0 auto;
}

/* START HEADER */

.header {
  text-align: center;
}

.nav {
  margin: 70px 0 97px;

}

.nav__list > li {
  display: inline-block;
}

.nav__item {
  margin-right: 100px;
}

.nav__link:hover {
  color: #03a9f4;
}

.nav__item:last-child {
  margin-right: 0px;
}

/* END HEADER */

.lifestyle {
  margin-bottom: 132px;
}

.lifestyle:last-child {
  margin-bottom: 0px;
}

.left__post {
  margin-right: 56px;
}

.lifestyle__item {
  display: inline-block;
}

.lifestyle__item {
  width: 420px;
}

.lifestyle__subtitle {
  font: 300 14px/17px "Ubuntu", sans-serif; 
  text-transform: uppercase;
  margin: 22px 0 19px;
}

.lifestyle__title {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 29px;
}

/* .lifestyle__text {
  font-size: 14px;
  line-height: 24px;
} */

.btn {
  display: block;
  margin: 50px auto 70px;
  width: 164px;
  height: 60px;
  text-align: center;
  border: 1px solid #626262;
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
  background-color: transparent;
  font-size: 20px;
  line-height: 24px;
  color: #626262;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect( 0 0 0 0);
  overflow: hidden;
}