$main-font: "RobotoRegular", sans-serif;
$main-menu-font: "MontserratRegular", sans-serif;
$main-title-font: "MontserratBold", sans-serif;
$main-title-top-font: "KaushanScript", sans-serif;
$member-occupation-font: "RobotoLightItalic", sans-serif;

$main-style-color: #f38181;
$add-style-color: #fce38a;
$icon-style-color: #95e1d3;
$footer-border-color: #e7e7e7;

$main-text-color: #999999;
$title-text-color: #333333;
$banner-text-color: #ffffff;