.header {
  padding: 42px 0 85px;
}

.logo-link {
  font: 400 26px/41px "Yellowtail", sans-serif;
  color: var(--main-style-color);
  letter-spacing: 1.3px;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin-right: 41px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  font: 400 14px/41px 'Montserrat', sans-serif;
  color: var(--title-text-color);
  text-transform: uppercase;
}

.nav-link:hover {
  color: var(--main-style-color);
}