/* HEADER */

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 0rem;
}

.logo {
  display: none;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  margin: 0 auto;
}

.nav-item {
  margin-right: 0.2125rem;
}

.nav-item:last-child {
  margin-right: 0rem;
}

.nav-link {
  font: 0.875rem var(--main-title-font);
  color: var(--promo-text-color);
  border-radius: 20px;
  border: 2px solid transparent;
  padding: 10px 18px;
}

.nav-link:hover {
  border-color: var(--promo-text-color);
}

.promo {
  padding: 10.63rem 0.625rem  8.75rem;
  font-family: var(--main-title-font);
  color: var(--promo-text-color);
  background: url("../../img/promo-section/Desktop.png") no-repeat top center,
    rgba(26, 25, 21, 1);
  background-size: cover;
  text-align: center;
}

.promo-group {
  padding-bottom:  0.875rem;
}

.logo-promo {
  margin-bottom: 2.125rem;
}

.logo-link {
  font-size: 1.25rem;
  color: var(--promo-text-color);
}

.promo-title {
  font-size: 1.875rem;
  text-transform: uppercase;
}

.promo-desc {
  font-family: var(--main-font);
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
}


.promo-link {
  color: var(--promo-text-color);
  padding: 0.75rem 2.938rem;
  background-color: var(--main-style-color);
  border-radius: 20px; 
  margin: 0 -10px;
  overflow-x: scroll;
}