.banner {
  padding: 110px 0 14.375rem;
  text-align: center;
  color: var(--banner-text-color);
  background: -webkit-gradient(
      linear,
      left bottom, left top,
      from(rgba(252, 227, 138, 0.9)),
      to(rgba(243, 129, 129, 0.9))
    ),
    url(../../img/banner/banner.jpg) no-repeat top center;
  background: -o-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.9),
      rgba(243, 129, 129, 0.9)
    ),
    url(../../img/banner/banner.jpg) no-repeat top center;
  background: linear-gradient(
      to top,
      rgba(252, 227, 138, 0.9),
      rgba(243, 129, 129, 0.9)
    ),
    url(../../img/banner/banner.jpg) no-repeat top center;
  background-size: cover;
}

.banner__title {
  font: 9.375rem/8.75rem var(--main-title-font), sans-serif;
  text-transform: uppercase;
  margin-bottom: 6.75rem;
}

.banner__title--diff {
  display: block;
  font: 4.5rem var(--main-title-top-font), sans-serif;
  margin-bottom: 1.625rem;
  text-transform: initial;
}

.banner__btn {
  padding: 10px 29px;
  background-color: transparent;
  border: 3px solid var(--banner-text-color);
}
