.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid var(--footer-border-color);
  padding: 0.75rem 0 0.6875rem;
}

.footer__info {
  font-family: var(--main-menu-font);
  color: var(--title-text-color);
}

.footer__link:hover{
  color: var(--main-style-color);
}
.form__email {
  font-family: var(--main-font);
  color: var(--main-text-color);
  height: 40px;
  line-height: 40px;
  padding: 0 44px 0  12px;
  border: 1px solid var(--footer-border-color);
  border-right: none;
  outline: none;
}

.form__email::placeholder {
  font-family: var(--member-occupation-font);
}

.form__btn {
  padding: 0.625rem 2.0625rem;
  background-color: var(--icon-style-color);
}